*{
  margin: 0;
  padding: 0;
}

/* .main{
  width: 100%;
  background: url(hero-1.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
} */
.navbar{
  width: 1300px;
  height: 75px;
  /* margin: auto; */
  background-color: #100028;
  /* background-image:url("./img/hero/hero-1.jpg") ;
  background-size: cover; */

}
.icon{
  width: 250px;
  float: left;
  height: 70px;
  /* margin-top: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu{
  width: 400px;
  float: left;
  height: 70px;
}

ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li{
  list-style: none;
  position: relative;
  margin-left: 62px;
  margin-top: 30px;
  font-size: 15px;
}
ul li a{
  text-decoration: none;
  color: #fff;
  font-weight:500;
  transition: 0.4s ease-in-out;
}
ul li a::after{
  content: '';
  width: 0;
  height: 2px;
  background-color:aqua;
  margin: auto;
  display: block;
}
ul li a:hover::after{
  width: 100%;
  transition: width 0.1s linear;
}
ul li.active a::after{
  width: 100%;
  transition: width 0.1s linear;
}

.menu ul li ul{
  display:none;
  position:absolute;
  background-color:darkblue;
  border-radius: 0px 0px 5px 5px;
}
.menu ul li:hover ul{
  display: block;
}
.menu ul li ul li{
  line-height: 2;
  width: 100px;
  margin:auto;
  margin-left: 10px;
}
.menu ul li ul li a:hover{
  color: aqua;
}

.socialtop {
  width: 150px;
  float: right;
  margin-right: 62px;
  margin-top: 27px;
}   
.socialtop a i{
  color: #fff;
  font-size: 15px;
  padding-left: 14px;
  padding-top: 5px;
  transition: 0.3s ease;
}
.socialtop a i:hover{
  color: aqua;
}


/* hero section */
.hero-main-image{
    display: flex;
    width: 100%;
    position: relative;
}

.hero-main-image img{
    width: 78rem;
    height: 100vh;
}

.hero-main-text{
    position: absolute;
    color: white;
    top:33vh;
    left:10vh;
    width: 80%;
}

.hero-main-text span{
    letter-spacing: 0.4rem;
}
.hero-main-text h2{
    font-size: 3rem;
    width: 30%;
    letter-spacing: 0.5rem;
}

.hero-main-text button{
    background: none;
    height: 5rem;
    border: none;
}
.hero-button{
    font-size: 1rem;
    color: white;
    text-decoration: none;
    letter-spacing: 0.3rem;
}

.services-main-container{
    width: 100%;
    height: 100vh;
    background-color: #100028;
    display: flex;
}

.services-sub-container{
    color: #ffff;
    width: 33%;
}
/*image collage*/
.image-collages
{
   width: 100%;
    height: 100vh;
    background-color: #100028;
    display: flex;
}
.grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 100%;
  height: 100%;
  grid-gap: 10px;    

}
.grid-item1{
  background-size: cover;
  background-position: center;
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.grid-item2{
  background-size: cover;
  background-position: center;
  grid-column-start:3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.grid-item3{
  background-size: cover;
  background-position: center;
  grid-column-start:4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.grid-item4{
  background-size: cover;
  background-position: center;
  grid-column-start:5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}
.grid-item5{
  background-size: cover;
  background-position: center;
  grid-column-start:1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.grid-item6{
  background-size: cover;
  background-position: center;
  grid-column-start:2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.grid-item7{
  background-size: cover;
  background-position: center;
  grid-column-start:3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}


/* team section*/
.background{
  width: 100%;
  background:url(./img/team-bg.jpg);
  background-position: center; 
  background-size: cover; 
  height: 100vh; 
}
.container{
  width: 100%;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.box1{
  width: 17rem;
  margin: 0 10px;
  margin-top: 15rem;
}
.box2{
  width: 17rem;
  margin: 0 10px;
  margin-top: 12rem;
}
.box3{
  width: 17rem;
  margin: 0 10px;
  margin-top: 9rem;
}
.box4{
  width: 17rem;
  margin: 0 10px;
  margin-top: 6rem;
}
.blog-container
{
    width: 100%;
    height: 100vh;
    background-color: #100028;
    display: flex;
}
.blog-text{
  width: 100%;
  text-align: center;
  padding: 6%;
  
}
.blog-text span{
    color: #ffffff;
    display: block;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.bar hr{
  width:70px;
  height:5px;
  background-color: #03BFE7;
  border-style:none;

}

.blog-text h2{
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 7%;
}
.ideas-background{
  width: 100%;
  background:url(./img/callto-bg.jpg);
  background-position: center; 
  height: 55vh; 
}
.ideas-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.ideas-text{
  padding-top: 7%;
  padding-left: 8%;
  
}
.ideas-text h2{
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 22px;
}
.ideas-text p{
    font-size: 15px;
    color: #ffffff;
    opacity: 0.7;
    text-transform: uppercase;
    margin-bottom: 55px;
    
}
.ideas-text a {
    color: #ffffff;
    background: #00bfe7;
    font-size: 15px;
    font-weight: 700;
    font-family: "Play", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    padding: 14px 32px 12px;
}
