html{
  font-size: 50%;
  box-sizing: border-box;
  /* font-family: 'Arimo', sans-serif !important; */
}

body{
  padding: 0;
  margin: 0;
}

.container{
  display: flex;
}

.side-nav{
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{
  width: 13rem;
}

.logo-img{
  width: 100%;
  padding-top: 1.4rem;
  padding-bottom: 1.2rem;
}

.nav-links{
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
  /* padding-left: 2rem; */
}

.nav-links li{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
}

.side-logos{
  display: flex;
  height: 2rem;
}

.active{
  background: rgb(10, 1, 1);
  width: 90%;
  height: 45px;
  position: absolute;
  left: 0;
  top: 0.8%;
  z-index: -1;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgb(255, 255, 255, 0);
  display: none;
  transition: top 0.3s;
}

.nav-links li:hover a{
  color: rgb(241, 232, 232);
  transition: 0s;
}

.nav-links li:hover ~ .active{
  display: block;
}

.nav-links li:nth-child(1):hover ~ .active{
  top : 0.8%
}

.nav-links li:nth-child(2):hover ~ .active{
  top : 10.8%
}

.nav-links li:nth-child(3):hover ~ .active{
  top : 21.8%
}

.nav-links li:nth-child(4):hover ~ .active{
  top : 33.8%
}

.nav-links li:nth-child(5):hover ~ .active{
  top : 44.5%
}

.nav-links li:nth-child(6):hover ~ .active{
  top : 55.8%
}

.nav-links li:nth-child(7):hover ~ .active{
  top : 66.8%
}

.nav-links li:nth-child(8):hover ~ .active{
  top : 77.8%
}

.nav-links li:nth-child(9):hover ~ .active{
  top : 88.8%
}

.heroContainer{
  width: 80%;
}