* {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 5%;
  background-color: #cee4f7;
  background-position: center;
  background-size: cover;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style:initial;
}

.side-nav{
  width: 200;
  height: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 30px; 
  
}

.logo{
  display: block;
  margin-bottom: 5px;
}

.logo-img{
  width: 100px;
}

.nav-links{
  list-style: none;
  position: relative;
}

.nav-links li{
  padding: 5px 0;
}

.nav-links li a{
  color: #0a0000;
  text-decoration: none;
  padding: 10px 14px;
  display: flex;
  align-items: center;
}

.active{
  background: rgb(10, 1, 1);
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0.8%;
  z-index: -1;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgb(255, 255, 255, 0);
  display: none;
  transition: top 0.5s;
}

.nav-links li:hover a{
  color: rgb(241, 232, 232);
  transition: 0.3s;
}

.nav-links li:hover ~ .active{
  display: block;
}

.nav-links li:nth-child(1):hover ~ .active{
  top : 0.8%
}

.nav-links li:nth-child(2):hover ~ .active{
  top : 10.8%
}

.nav-links li:nth-child(3):hover ~ .active{
  top : 21.8%
}

.nav-links li:nth-child(4):hover ~ .active{
  top : 33.8%
}

.nav-links li:nth-child(5):hover ~ .active{
  top : 44.5%
}

.nav-links li:nth-child(6):hover ~ .active{
  top : 55.8%
}

.nav-links li:nth-child(7):hover ~ .active{
  top : 66.8%
}

.nav-links li:nth-child(8):hover ~ .active{
  top : 77.8%
}

.nav-links li:nth-child(9):hover ~ .active{
  top : 88.8%
}

.search-bar {
  position: fixed;
  top: 15px;
  right: 38%;
  transform: translateX(50%);
  width: 400px;
  height: 30px;
  /* max-width: 1300px; Increase the max-width to your desired value */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px) saturate(180%);
}


.search-bar button img {
  width: 13px;
}

.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: rgb(0, 0, 0);
  cursor: pointer;
  margin-left: 10px;;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 0;
  font-size: 17px;
  color: #cac7ff;
  margin-left: 7px;
  box-sizing: border-box;
  text-align: left;
}

body {
  align-items: center;
  background-color: #fff8e7;
  color: #545454;
  display: flex; /*removed horizontal scroll bar */
  height: 100vh;
  justify-content: center;
  position: relative;
}

.music-controls {
  position: fixed;
  bottom: 20px;
  right: 45%;
  transform: translateX(50%);
  width: 570px;
  height: 60px;
  border-radius: 25px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(25px) saturate(180%);
  display: flex;
  align-items: center;
  padding: 5px;
}

.media-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 110px;
  /* right: 120px; */
}

.media-button {
  align-items: center;
  position: relative;
  right: -28px;
  width: 32px;
  height: 32px;
  margin-right: -2px;
  margin-left: 20px;
  padding-right: 25;
}

.slider {
  width: 48%;
  align-items: center;
  right: 41%;
  background-color: transparent;
  position: fixed;
  top: 55%;
  transform: translateY(50%);
}

.seek-bar{
  width: 160%;
}
