html{
  font-size: 50%;
  box-sizing: border-box;
  /* font-family: 'Arimo', sans-serif !important; */
}

body{
  padding: 0;
  margin: 0;
}

.container{
  display: flex;
}

.side-nav{
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{
  width: 13rem;
}

.logo-img{
  width: 100%;
  padding-top: 1.4rem;
  padding-bottom: 1.2rem;
}

.nav-links{
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
  /* padding-left: 2rem; */
}

.nav-links li{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1.5rem;
  transition-duration: 700ms;
  transition-property: background-color color;
  transition-delay: 50ms;
}

.nav-links li:hover{
  background-color: black;
  color: aliceblue;
  border-radius: 20px;
  cursor: pointer;
}

.side-logos{
  display: flex;
  height: 2rem;
}

.heroContainer{
  width: 80%;
  background-color: #f4f5fef1;
}

.hero-row-1-container{
  display: flex;
  /* justify-content: space-evenly; */
  width: 100%;
  padding-top: 1rem;
}

.hero-row-1-container-inner{
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.navig{
  display: flex;
  gap: 5rem;
  align-items: center;
}
.arrow-container{
  width: 2rem;
  display: flex;
  align-items: center;
}
.arrow-container img{
  width: 100%;
  cursor: pointer;
}

.search-bar {
  /* position: fixed; */
  /* top: 1.6rem; */
  /* right: 40%; */
  /* transform: translateX(50%); */
  /* width: ; */
  /* height: 20px; */
  /* display: flex; */
  /* align-items: center; */
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px) saturate(180%);
  /* padding-top: 2rem; */
  width: 60%;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 0;
  color: #000000;
  margin-left: 7px;
  box-sizing: border-box;
  text-align: left;
  font-size: 1.8rem;
  width: 100%
}

.text1{
  font-size: 1.9rem;
  padding-left: 6rem;
}

.cover{
  display: flex;
  width: 100%;
  height: 15%;
  justify-content: center;

}

.image-container{
  width: 75%;
  height: 100%;
  position: relative;
}

.cover-image{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #f4f5feab);
  opacity: .9; /* Adjust the opacity as desired */
}

.cover-text-1{
  margin-left: 10%;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
}

.cover-text-2{

}
